#number {
	width: 1000px;
	height: px;
	background-color: pink;
}

div.enter {
	color: #fffff;
}

body, div, a {
	padding: 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

#calculator {
	width: 620px;
    height: 460px;
    margin: 20px auto;
    padding: 10px;
    background-color: pink;
    border: 6px solid black;
}
